.pan {
    padding: 0 20px;
    width: 250px;
    height: 500px;
    background: #eee;
    border: #282828 2px solid;
    font-family: Georgia;
    color: #ba0fba;
    background-color: #eee
    }

#tabslideout-close, .pan li,ul {
    cursor:pointer
}